/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
}

input {
  height: 68px;
}

#message {
  height: 170px;
}

button {
  border: none;
  background: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
}

legend {
  visibility: hidden;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 43px 0px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
  font-weight: 300;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

#contact_modal {
  display: none;
}

.contact_button {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
}

.contact_button:hover {
  background-color: #db8876;
  color: black;
  transform: scale(1.05);
}

.send-section {
  display: flex;
  flex-direction: row;
  margin: 0;

  align-items: baseline;
}

.validation {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.validation-message {
  margin: 0;
  width: fit-content;
  font-size: 1rem;
  background: #d1ffe6;
  border: 1px solid #3ad29f;
  color: #2b7a68;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  font-size: 1rem;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in {
  animation: fadeIn 0.6s ease;
}

.fade-out {
  animation: fadeOut 0.6s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.validation svg {
  width: 2rem;
}

.send_button {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  padding: 11px;
  min-width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

#contact_modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.2);

  z-index: 300;
  align-items: center;
  justify-content: center;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin: 0;
}

.contact-name {
  display: block;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 4rem;
  font-weight: normal;
  text-align: left;
  margin: 0;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/***** Header photgraphe *****/

.photograph-header {
  background-color: #fafafa;
  min-height: 300px;
  margin: 0 100px;
  display: grid;
  align-items: center;
  padding: 0 3rem;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.photograph-header-element {
  display: flex;
  justify-content: center;
}

.photographe-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photographe-info h1 {
  font-size: 4rem;
  color: #d3573c;
  font-weight: 300;
  margin: 0;
  margin-top: 0.626rem;
}

.emplacement-portrait img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  overflow-clip-margin: unset;
}

.photographe-info .location {
  color: #901c1c;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 0.8rem;
}

.photographe-info .tagline {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 0;
  color: #525252;
}

/***** Filters *****/

.filters {
  margin: 10px 100px;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.filters .trier-par {
  font-weight: 700;
  font-size: 1.125rem;
}

.dropdown-menu-container {
  display: flex;
  position: relative;
  min-width: 170px;
  min-height: 68px;
}

.video-under-dropdown {
  pointer-events: none; /* Désactive les clics sur les vidéos sous le menu */
}
.dropdown-menu {
  font-size: 1.25rem;
  font-weight: 400;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  width: 170px;
  height: fit-content;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  transition: transform 100ms ease-in-out;
}

.dropdown-menu:hover {
  transform: scale(1.05);
}

svg {
  width: 32px;
}

.current {
  display: flex;
}

.other {
  height: 3rem;
  position: relative;
  display: none;
  border-top: solid 1px white !important;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
}

.sort {
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
  width: 100%;
  border: none;
  background-color: #901c1c;
}

.arrow {
  transition: transform 100ms ease-in-out;
}

.arrow.rotate {
  transform: rotate(180deg);
}

/***** Medias *****/

.media-container {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 6%;
  grid-row-gap: 1%;
  margin-top: 35px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
}

.media-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  transition: transform 200ms ease-in-out;
}

.media-item:hover {
  transform: scale(1.05);
}

.media-item img,
.media-item video {
  object-fit: cover;
  aspect-ratio: 7/6;
  width: 100%;
  border-radius: 5px;
}

.media-infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #901c1c;
  font-weight: 300;
  font-size: 1.5rem;
}

.likes-container {
  display: flex;
  align-items: center;
}

.liked {
  color: #db8876;
}

/***** Likes and price *****/

.likes-and-price {
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 50px;
  height: 60px;
  width: 350px;
  background-color: #db8876;
  color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.5rem;
  align-items: center;
  transition: transform 100ms ease-in-out;
}

.likes-and-price:hover {
  transform: scale(1.05);
}

.total-likes {
  display: flex;
  align-items: center;
  gap: 3px;
}

/***** Lightbox *****/

.lightbox {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.lightbox .cross {
  color: #901c1c;
}

.lightbox-container {
  padding: 10%;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(100, 100, 100, 0.2);*/
  background-color: white;

  z-index: 300;
  align-items: center;
  justify-content: center;
}

.lightbox-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.img-container {
  height: 100%;
}

.img-container img,
.img-container video {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cross {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
}

.left-arrow,
.right-arrow {
  height: fit-content;
  width: 4rem;
}

.lightbox-media-title {
  color: #901c1c;
  font-size: 1.5rem;
  margin-top: 3rem;
}
