@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

button {
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 43px 0px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
  font-weight: 300;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

/***** Article *****/

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article a {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  transition: transform 200ms ease-in-out;
}

.photographer_section article a:hover {
  transform: scale(1.05);
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 2.25rem;
  font-weight: 300;
  margin: 0;
  margin-top: 0.626rem;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  overflow-clip-margin: unset;
}

.location {
  color: #901c1c;
  font-size: 0.8125rem;
  font-weight: 300;
  margin: 0;
}

.tagline {
  font-size: 0.625rem;
  font-weight: 300;
  margin: 0.125rem;
}

.price {
  font-size: 0.5625rem;
  color: #757575;
  font-weight: 300;
  margin: 0.125rem;
}

@media (max-width: 1024px) {
  .photographer_section {
    grid-template-columns: 1fr 1fr;
  }
}
